@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  padding: 0;
  background-color: #fc5293;
  color: #f5e9ef;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 600px) {
  .header-container {
    display: flex;
    background-color: black;
    height: 50%;
  }

  .headerItem {
    display: flex;
    flex-direction: row;
  }

  li {
    text-decoration: none;
    padding-left: 1rem;
    list-style: none;
  }

  .main {
    /* margin: 5rem; */
    padding: 5rem;
    background-color: #ca4275;
    font-size: 40px;
  }

  h2 {
    background-color: #e73478;
  }

  .home-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .grid-item {
    border: 0.5px  ridge #e73478;
    padding: 7rem 0 2rem 5rem;
    font-size: 30px;
    font-weight: bold;
  }

  .grid-item:nth-child(3n -2) {
    background-color: #e73478;
  }

  .cases {
    font-size: 20px;
  }

  .country-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .asia-country {
    border: 2px solid black;
  }
}
